h1{
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 0px;
    margin: 0px 10px;
    left: 80px;
    
}
.container{
    max-width: 960px;
    margin: 0px auto;
}
.header {
    background-color:rgb(246, 247, 197);
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between ;
    justify-items: center ;
}
#logo{
    padding 10px 0px;
    margin:auto;
}
#logo img{
    max-width: 40px;
    top: 20px;
    height: fit-content;
}
#menu-chinh{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-chinh li{
    position: relative;
}
#menu-chinh li a{
    color:rgb(0, 0, 0);
    display: block;
    padding: 23px 20px;
    text-decoration: none;
    transition: color 0.4s;
}
#menu-chinh li a:hover{
    color: rgb(143, 202, 178);
}
#menu-chinh ul.sub-menu{
    position:absolute;
    background-color: rgba(194, 191, 191, 0.116);
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    border: 1px soild rgb(37, 15, 19);
    display: none;
    left: 30px;
}
#menu-chinh li:hover> ul.sub-menu{
    display:block;
}