*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container2{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color:rgb(218, 218, 218) ;;
    padding: 70px 0px;
}
.footer-ds{
width: 20%;
padding: 2px 15px;
}
.footer-ds h4{
    font-size: 16px;
    color: #000000;
    text-transform:capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: ;
}
.footer-ds h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
height: 3px;
box-sizing: border-box;
width: 90px;
}
.footer-ds ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-ds ul li a{
    font-size: 15px;
    text-decoration: none;
    color:#000000;
    display: block;
    transition: all 0.3s ease;
}
.footer-ds ul li a:hover{
    color: #353535;
    padding-left: 5px;
}
.footer-ds .social_link a{
    height: 40px;
    width: 40px;
    background-color: rgba(250, 239, 239, 0.459);
    margin: 0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.35s ease;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}
.footer-ds .social_link a:hover{
    color: #242642b;
    background-color:#ffffff;

}