.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 10px;
  }
  
.search input[type=text] {
    padding: 10px;
    border: 1px solid #797979;
    border-radius: 10px;
    width: 140px;
  }
  .search button {
    float: right;
    padding: 3px 10px;
    margin-top: 5px;
    margin-right:1px;
    background: rgb(247, 246, 246);
    font-size: 20px;
    border:none;
    cursor: pointer;
  }
